<html>
  <head>
    <title>Sliding File Viewer</title>
    <!--
    <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAA8Ip36mFfBP6Z5ASjZRBIehT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSX_BRGiiGGuYcTOukVVSxmVOWmVg"></script>
    -->
    <script src="/jquery.min.js" type="text/javascript" charset="utf-8"></script>  
    <script src="coffee/application.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="handlebars.js" type="text/javascript" charset="utf-8"></script>
    <script src="coffee/slide_file_viewer.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="/file_viewer.css" type="text/css" media="screen" title="no title" charset="utf-8">
    
  </head>
  <body>
    <div id="file_viewer" />
  </body>
</html>